
.image-to-show {
    width: 400px;
    height: 400px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.active {
    opacity: 1;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.timer {
    font-size: 24px;
    margin-bottom: 10px;
}

